#dashboard-panel {
  height: 100%;
  .collection {
    border: none;
    .collection-item {
      border-radius: 4px;
    }
  }
}

#project-panel {
  height: 100%;
  overflow-y: auto;
  #users-container {
    height: calc(100% - 110px);
    .center {
      width: 100%;
    }
  }
}

.select2-selection__choice {
  display: inline-block;
  height: 32px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: rgba(0,0,0,0.6) !important;
  line-height: 32px !important;
  padding: 0 12px !important;
  border-radius: 16px !important;
  border: 0 !important;
  background-color: #e8eaf6 !important;
}

.select2-selection--multiple {
  border-radius: 0 !important;
}

.select2-container--focus {
  .select2-selection {
    border-color: #3f51b5 !important
  }
}

.select2-results__option--highlighted {
  background-color: #9fa8da !important
}
