#user_edit {
  .row {
    height: 100%;
    .col {
      height: 100%;
      .card {
        height: 100%;
        padding: 20px;
        .row {
          margin: auto;
        }
      }
    }
  }

  .avatar-wrapper {
    float: left;
    
  }
}
