.col.s3.kanban_col data-col-type='#{type}'
  .container-fluid.grey.lighten-4.tasks-wrapper
    h5.center-align.state-title = type.capitalize
    = render partial: 'kanban/elements/task', collection: elements
